<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About her</title>
    <link rel="stylesheet" href="../stylesheets/style.css" />
  </head>

  <body>
    <section id="about-section">
      <div class="header-name">

        <h1>About</h1>

      </div>

      <div class="life-paragraph">

        <p class="intro-text">
            Born sometime between the late 1970s and mid-1980s, Maria remains a
            mysterious figure despite the numerous studies and biographies published
            to date, including the award-winning Netflix documentary "Woman with Scissors" about her life.
            <br/>
            <br/>
            His best-known works include a vast work of collage on paper that
            recreates a personal universe in which natural history coexists with
            Victorian aesthetics and surrealism.
            <br />
            <br/>
            Among her works less known by the general public are drawings, tarot
            decks and a curious video game called "Bunnies Story", which is believed
            to have been the trigger for the mental problems that María began to
            manifest towards the middle of her life.
            <br />
            <br />
            During her time as a web developer, which lasted about ten years, Maria
            contributed to the creation of successful applications used by companies
            and individuals around the world. The famous disagreements and rudeness
            between María and Jeff Bezos about the rights to use the "Buyer's
            Delights" tool by the Amazon company led her to follow in the footsteps
            of her admired Marak Squires and completely destroy the code that had
            been reported to her World Fame.
            <br />
            <br />
            Currently María, away from technology and the public, lives with her
            family in the desert of Almería, completely dedicated to her tarot
            readings and the study of Kabbalah. 
          </p>

      </div>

      
    </section>
  </body>
</html>
