<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>María´s Fake Page</title>
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <style>
        li{
            cursor: pointer;
        }
    </style>
  </head>

  <body>
    <section id="home-info">
      <div class="header-name">
        <h1>María Gallego</h1>
      </div>

      <p class="intro-text">
        Welcome to María Gallego Appreciation Fan Page. A holistic view of the
        life and work of the well known collage artist, tarot reader and
        visionary.
      </p>
    </section>

    <section id="home-menu">

        <nav class="nav-bar">
            <ul class="nav-bar-ul">
                <li><a class="nav-bar-item" href="../views/about.html"></a>About</li>
                <li><a class="nav-bar-item" href="../views/works.html"></a>Works</li>
                <li><a class="nav-bar-item" href="../views/photo-gallery-html"></a>Photo Gallery</li>
            </ul>

        </nav>

    </section>

    <div >

        <img class="home-page-pic" src="../images/home-page-pic.png" />

    </div>
    
    <footer>
        
    </footer>
  </body>
</html>
