<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Gallery</title>
    <link rel="stylesheet" href="../stylesheets/style.css" />
</head>

<body>
    
    <section id="photo-gallery-section">
        <div class="header-name">
          <h1>Photo Gallery</h1>
        </div>
  
        <p class="intro-text">
            Moments from Maria's life over the years.
        </p>
      </section>
  
      <div class="photo-gallery">
  
        <div class="item">
          <img src="../images/amateur-photographer.png" />
          <span class="caption">María as amateur photographer</span>
        </div>
  
        <div class="item">
          <img src="../images/self-portrait.png" />
          <span class="caption">María in her years as a web developer</span>
        </div>
  
        <div class="item">
          <img src="../images/irish-years.png" />
          <span class="caption">María. The Irish years</span>
        </div>
  
        <div class="item">
          <img src="../images/performers.png" />
          <span class="caption">María during a performance</span>
        </div>
  
        
        </div>
      </div>
</body>
</html>
