<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Works</title>
    <link rel="stylesheet" href="../stylesheets/style.css" />

    <style>
      li{
          cursor: pointer;
      }
  </style>
  
  </head>

  <body>
    <section id="works-section">
      <div class="header-name">
        <h1>Works</h1>
      </div>

      <nav class="nav-bar">
        <ul class="nav-bar-ul">
            <li><a class="nav-bar-item" href="../views/home.html"></a>Home</li>
            <li><a class="nav-bar-item" href="../views/about.html"></a>About</li>
            <li><a class="nav-bar-item" href="../views/photo-gallery-html"></a>Photo Gallery</li>
        </ul>

    </nav>

      <p class="intro-text">
        A careful selection of works made by the artist throughout her life.
      </p>
    </section>

    <div class="works-gallery">

      <div class="item">
        <img src="../images/astronaut.jpeg" />
        <span class="caption">Riding a sponbill</span>
      </div>

      <div class="item">
        <img src="../images/boy-and-fish.jpeg" />
        <span class="caption">The catcher</span>
      </div>

      <div class="item">
        <img src="../images/hybrid.jpeg" />
        <span class="caption">Natural beauty</span>
      </div>

      <div class="item">
        <img src="../images/the-pretender.jpeg" />
        <span class="caption">The swain</span>
      </div>

      <div class="item">
        <img src="../images/esófago-pulpo.jpeg" />
        <span class="caption">Octopus Esophagus</span>
      </div>

      <div class="item">
        <img src="../images/flor-extrafina.jpg" />
        <span class="caption">Flor extrafina</span>
        </div>

        <div class="item">
          <img src="../images/you-are-a-fucking-queen.jpg" />
          <span class="caption">You, the fucking queen</span>
        </div>

        <div class="item">
          <img src="../images/the-sadness.jpg" />
          <span class="caption">The Sadness</span>
        </div>

        <div class="item">
          <img src="..//images/girl-gang.jpg" />
          <span class="caption">Girl gang</span>
        </div>

        <div class="item">
          <img src="../images/rebels.jpg" />
          <span class="caption">Rebels</span>
        </div>

        <div class="item">
            <img src="../images/borsalino-y-bombín.jpg" />
            <span class="caption">Borsalino y Bombín</span>
          </div>

          <div class="item">
            <img src="../images/the-keeper.jpg" />
            <span class="caption">The Keeper</span>
          </div>

          <div class="item">
            <img src="../images/sardinas.jpg" />
            <span class="caption">Pilchards (Sardinas)</span>
          </div>

          <div class="item">
            <img src="../images/woman-at-the-beach.jpg" />
            <span class="caption">Those beach days</span>
          </div>

      </div>
    </div>
  </body>
</html>
